<div class="banner-wrapper section fs">

    <div>

        <div class="banner-content-wrapper">

            <div class="banner-content">

                <div class="container">

                    <div class="row mc">

                        <div class="col-md-4">
                            <h2 class="display-1 color-secondary">
                                BOOK A VEHICLE TODAY
                            </h2>

                            <p class="lead color-white">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolore in labore molestias.
                            </p>

                            <a href="#" class="btn more">Find Out</a>

                        </div>
                        <div class="col-md-8 mc">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>