/.idea/*
.idea/workspace.xml
/.idea/workspace.xml
.idea/*
/.idea/*
/wc-logs/*
/wp-admin/*
/wp-includes/*

/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/license.txt
/readme.html
/wp-login.php


/.user.ini
/BingSiteAuth.xml
/MJ12_b7dcc33e-1167-4ecb-afac-bad3377cc84a.txt
/error.txt
/google4f57faec247e9d0c.html
/googlea9ecab7d1267037b.html
/manifest.json
/pinterest-804f9.html
/robots.txt
/service-worker.js
/speed.html
/style.css
/w4shThvL8hFk6VwqD1Tcv0RryiA.html
/web.config

wp-content/advanced-cache.php
wp-content/index.php
wp-content/languages/
wp-content/logs/
wp-content/plugins/
wp-content/themes/index.php
wp-content/uploads/
wp-content/wp-cache-config.php

!wp-content/
wp-content/themes/*
!wp-content/themes/xash_its/
wp-content/themes/xash_its/.idea/*
wp-content/index.php
wp-content/themes/index.php


media
node_modules/
node_modules/*
phpinfo.php
 