// --------------------------------------------------
// Variables, Customized by Xashlabs          |
// Version : 1;
// All Core Variables on which rest of variables are relying.
// Added Variable based on Desktop.
// --------------------------------------------------

$pink: pink;
$green: #58be97;
$purple: purple;
$yellow: yellow;
$orange: orange;
$light-gray: #a6a6a6;
$gray: #595959;
$darkish-gray: #444;
$dark-gray: #363636;
$darker-gray: #303030;
$darkest-gray: #292929;
$darkester-gray: #111;